<section class="parallax_window_in" data-parallax="scroll" data-image-src="img/teams.jpg" data-natural-width="1400" data-natural-height="470">
  <div id="sub_content_in">
    <h1>About Joya</h1>
    <p>"Alone we can do so little, together we can do so much.</p>
  </div>
</section>


<div class="container_styled_1">
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-md-6">
        <h2 class="nomargin_top">Online<br>Diabetic Health Coach </h2>
        <p class="lead">Joya is online plateform featuring Holistic & Customized Health Programs to teach & guide diabetec people through the process of Health Behavioral Change & Self-Care in the quest for mental wellbeing & balanced blood sugar.</p>
        <p>
           By using Cognitive Behavioral Therapy, Joya helps clients reduce psychological troubles, learn appropiate healthy habits to manage diabetes and stick to them. JOYA ‘s PROGRAM includes : Psychotherapy, relationship and spiritual daily Exercices, Tips & Counseling, group Coaching : weekly calls / meetups with coaches to check on health progress, Patient Educaction about disease & treatment, Personalized Diet & Exercice, etc.</p>
      
      </div>
      <div class="col-md-5 col-md-offset-1 hidden-sm hidden-xs">
        <img style="border-radius: 50%;" src="../../../assets/img/azer.png" alt="" class="img-responsive">
      </div>
    </div>
    <!-- End row -->
  </div>
</div>
<div class="container margin_60">
  <h2 class="main_title"><em></em>Meet Joya Team<span>Live Better Live Longer</span></h2>
  <p class="lead styled">
    Meet the people who made the Joya dream come true.
  </p>

  <div class="row magnific-gallery">
    <div class="col-sm-4">
      <div class="">
        <div class="img_container">
          <a href="../../../assets/img/peaple/sahar.png" title="Photo title">
            <img src="../../../assets/img/peaple/sahar.png" width="800" height="533" class="img-responsive" alt="">
          </a>
        </div>
        <div class="team-item-info">
          <h4>Sahar Sallemi</h4>
          <p>CEO & PHARMACIST</p>
					
					</div>
      </div>
      <!-- End img_wrapper -->
    </div>
    <div class="col-sm-4">
      <div class="">
        <div class="img_container">
          <a href="../../../assets/img/peaple/farah.png"  title="Photo title">
            <img src="../../../assets/img/peaple/farah.png"  width="800" height="533" class="img-responsive" alt="">
          </a>
        </div>
        <div class="team-item-info">
          
          <h4>Farah Souabni</h4>
          <p>CONTENT CREATOR</p>
        </div>
      </div>
      <!-- End img_wrapper -->
    </div>
    <div class="col-sm-4">
      <div class="">
        <div class="img_container">
          <a href="../../../assets/img/peaple/nadia.png" title="Photo title">
            <img src="../../../assets/img/peaple/nadia.png" width="800" height="533" class="img-responsive" alt="">
          </a>
        </div>
        <div class="team-item-info">
          <h4>Nadia Hadouej</h4>
          <p>IT/ BUSINESS DEV</p>
        </div>
      </div>
      <!-- End img_wrapper -->
    </div>
    <!-- End row -->
    <div class="col-sm-4"  style="margin-right: 2% ;">
      <div class="">
        <div class="img_container">
          <a href="../../../assets/img/peaple/doraa.png" title="Photo title">
            <img src="../../../assets/img/peaple/doraa.png" width="800" height="533" class="img-responsive" alt="">
          </a>
        </div>
        <div class="team-item-info">
          <h4>Dorra Gharbi</h4>
						<p>DIGITAL MARKETER</p>
        </div>
      </div>
      <!-- End img_wrapper -->
    </div>

    <div class="col-sm-4">
      <div class="">
        <div class="img_container">
          <a href="../../../assets/img/peaple/yassine2.png" title="Photo title">
            <img src="../../../assets/img/peaple/yassine2.png" width="800" height="533" class="img-responsive" alt="">
          </a>
        </div>
        <div class="team-item-info">
          <h4>Mohamed Yassine Elj</h4>
						<p>IT & DATA SCIENTIST</p>
        </div>
      </div>
      <!-- End img_wrapper -->
    </div>
    <div class="col-sm-4" style="margin-right: 50% ;">
      <div class="">
        <div class="img_container">
          <a href="../../../assets/img/peaple/sonia.png" title="Photo title">
            <img src="../../../assets/img/peaple/sonia.png" width="800" height="533" class="img-responsive" alt="">
          </a>
        </div>
        <div class="team-item-info">
          <h4>Sonia Hadouej</h4>
          <p>IT / BUSINESS DEV</p>
        </div>
      </div>
      <!-- End img_wrapper -->
    </div>
  </div>
  <!-- End row -->
  
  
 
   
    
   
 
  <!-- End row -->
</div>
<!-- End container -->