

<section id="feat" style="background-image: url(../../../assets/img/bafit9.png);">
  <div class="container">
      <h2 class="main_title"><em></em>  what is Joya <span>Fall in love with Health Program</span></h2>
      <p class="lead styled">
        Highly personalized workouts,coaching and meal plans based on your real time blood sugar levels, medication requirements and fitness goals.
      </p>
      <div class="row">
          <div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.2s">
              <div class="box_feat" id="icon_2">
                  <h3>Take a quiz</h3>
                  <p> let us get to know you ! Your health condition your goals your preferances and your needs so we can give you the most suiting solution . </p>
              </div>
          </div>
          <div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.5s">
              <div class="box_feat" id="icon_1">
                  <h3>Get a health program :  </h3>
                  <p> Highly personalized workouts and coaching based on your real time blood sugar levels, medication requirements and fitness goals. </p>
              </div>
          </div>
          <div class="col-sm-4 wow fadeIn animated" data-wow-delay="1s">
              <div class="box_feat" id="icon_3">
                  <h3>Get in touch with your    trainer</h3>
                  <p> these people will help you stay on track and reach your hardest goals. </p>
              </div>
          </div>
      </div>
      <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->


<!-- End container_styled_1 -->

<section class="margin_60_35" id="testimonials" style="background: #EDD14A url(;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 " style="text-align: center;">
              
            </div>
            <div class="col-md-6">
                <h3 style="text-align: center; color: #31527A;">   HOW DOES IT WORK ?
                   </h3>
                <p class="lead" style="text-align: center; color:#31527A;"> This is how we will get you to reach your goals.
  
                  
                  </p>
                
                   
            </div>
            
        </div>
        <!--  End row -->
    </div>
    <!--  End container-->
  </section>
  
  <section class="margin_60_35" id="testimonials" style="background: #88CCCF url(;">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <img src="../../../assets/img/devices1.png" width="600" height="355" alt="" class="img-responsive">
              </div>
              <div class="col-md-6">
                  <h3>   Exercice programs</h3>
                  <p class="lead">Not sure which Exercice is for you ?
                    Our custom made videos will guide you through everything. Whether you have type1 or type2 diabetes  or you just want to stay healthy ( prediabetic ) ,  you will definitely find what suits your health condition and your itness level.
    
                    
                    </p>
                  
                     
              </div>
             
          </div>
          <!--  End row -->
      </div>
      <!--  End container-->
    </section>
  

<section class="margin_60_35" id="testimonials"  style="background: #EF8250 url(;">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h3>   Meal plans    </h3>
              <p class="lead">  Finding meals that don't hinder your diabetes and keeping track of your calory/carb consumtion can get complicated. 
                That's why we make it all simpler for you :

                
                </p>
              <p>
                  <p> All meal plans are customized to fit your preferances, your drug intake and your current sugar blood level .
                    Eating healthy will be easier than ever  !
                    

                </p>
                 
          </div>
          <div class="col-md-6">
              <img src="../../../assets/img/devices2.png" width="600" height="355" alt="" class="img-responsive">
          </div>
      </div>
      <!--  End row -->
  </div>
  <!--  End container-->
</section>

<section class="margin_60_35" id="testimonials"  style="background: #1DC690 url(;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/devices3.png" width="600" height="355" alt="" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h3>   Made for you</h3>
                <p class="lead">We know how hard its is to stick to a healthy lifestyle . That's why we made it easier for you with this follow-up system that makes sure u're getting everything done ( weekly chekups with our professionals ..) 
                    We care about your mental health that's why ..???
  
                  
                  </p>
                <p>
                    <p>change your lifestyle , learn new habits and stick with them , new tricks and tips to keep you on track , be proactive about your mental health , learn how to meditate all with cbt ? 
  
                  </p>
                   
            </div>
           
        </div>
        <!--  End row -->
    </div>
    <!--  End container-->
  </section>
  
<section class="margin_60_35" id="testimonials"  style="background: #88A8CF url(bg_subscribe.png) no-repeat left top;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>   Meet your health copilot</h3>
                <p class="lead">you don’t have to wait until your next doctor’s appointment to ask questions about your health.
  
                  
                  </p>
                <p>
                    <p>Our coaches have access to your real-time data, so they can offer personalized advice specific to your situation.
                        <br>
                        <br>
                        They're not chatbots—they're real certified health professionals with years of experience helping people
  
                  </p>
                   
            </div>
            <div class="col-md-6">
                <img src="" width="600" height="355" alt="" class="img-responsive">
            </div>
        </div>
        <!--  End row -->
    </div>
    <!--  End container-->
  </section>

<!--  End section-->
<!---->


<!-- End section -->
<!-- hedi ba3d tet7at
<div id="newsletter_container">
  <div class="container margin_60">
      <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
              <h3>Subscribe to our Newsletter for latest news.</h3>
              <div id="message-newsletter"></div>
              <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
                  <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control">
                  <button id="submit-newsletter" class="btn_1"> Subscribe</button>
              </form>
          </div>
      </div>
  </div>
</div>
-->

<div id="toTop"></div>
<!-- Back to top button      hedia to93odd ma tetbadalch -->



<script src="../../../assets/js/bootstrap-portfilter.min.js"></script>
<script src="../../../assets/layerslider/js/greensock.js"></script>
<script src="../../../assets/layerslider/js/layerslider.transitions.js"></script>
<script src="../../../assets/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script type="text/javascript">
  'use strict';
  $('#layerslider').layerSlider({
      autoStart: true,
      navButtons: false,
      navStartStop: false,
      showCircleTimer: false,
      responsive: true,
      responsiveUnder: 1400,
      layersContainer: 1170,
      skinsPath: 'layerslider/skins/'
          // Please make sure that you didn't forget to add a comma to the line endings
          // except the last line!
  });
</script>
