<section class="parallax_window_in" data-parallax="scroll" data-image-src="../../../assets/img/joyaback.png" data-natural-width="1400" data-natural-height="470">
  <div id="sub_content_in">
    <h1>joyaa blogs</h1>
    <p>"Share your thoughts with us"</p>
  </div>
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<div class="container_styled_1">
  <div class="container margin_60_35">
    <div class="row">

      <div class="col-md-9">
        <div class="post" *ngFor="let bg of blog">
          <a href="blog_post.html"><img [src] ="bg.photo" class="img-responsive"></a>
          <div class="post_info clearfix">
            <div class="post-left">
              <ul>
                <li><i class="icon-calendar-empty"></i>{{ bg.date }} <em>by JOYA</em>
                </li>
                <li><i class="icon-inbox-alt"></i><a href="#">{{ bg.category }}</a>
               </li>
               <!-- <li><i class="icon-tags"></i><a href="#">Works</a>, <a href="#">Personal</a>
                </li> -->
              </ul>
            </div>
            <div class="post-right"><i class="icon-comment"></i><a href="#">{{ bg.nbcomment }} </a></div>
          </div>
          <h2>{{ bg.titre }}</h2>
          <p>
           {{ bg.description }}
          </p>
          <button type="button"  class="btn btn-warning">Read more</button>
        </div>
        <!-- end post -->

        

        
        <div class="text-center">
          <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a>
            </li>
            <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End col-md-9-->

      <aside class="col-md-3" id="sidebar">

        <div class="widget">
          <div id="custom-search-input-blog">
            <div class="input-group col-md-12">
              <input type="text" class="form-control input-lg" placeholder="Search">
              <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button">
                              <i class="icon-search-1"></i>
                          </button>
                      </span>
            </div>
          </div>
        </div>
        <!-- End Search -->
        <hr>
        <div class="widget">
          <h4>Categories</h4>
          <ul id="cat_nav_blog">
            <li><a href="#">ALL</a>
            </li>
            <li><a href="#">Fitness</a>
            </li>
            <li><a href="#">Nutrition</a>
            </li>
            <li><a href="#">MentalHealth</a>
            </li>
          </ul>
        </div>
        <!-- End widget -->

        <hr>
<!--
        <div class="widget">
          <h4>Recent post</h4>
          <ul class="recent_post">
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
          </ul>
        </div>  -->
        <!-- End widget -->
      <!--  <hr>
        <div class="widget tags">
          <h4>Tags</h4>
          <a href="#">Lorem ipsum</a>
          <a href="#">Dolor</a>
          <a href="#">Long established</a>
          <a href="#">Sit amet</a>
          <a href="#">Latin words</a>
          <a href="#">Excepteur sint</a>
        </div> -->
        <!-- End widget -->

      </aside>
      <!-- End aside -->

    </div>
  </div>
  <!-- End container -->
</div>
<!-- End container_styled_1 -->



<div id="toTop"></div>
<!-- Back to top button -->

